.header {
    padding: 114px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../../../../assets/img/enterprises-images/enterprises-header.png);
    margin-bottom: 44px;
}

