/* .effectImg { */
/* position: absolute; */
/* top: 80%; */
/* top: -20%; */
/* left: 0; */
/* z-index: -1; */
/* display: none; */
/* } */

.effectRightImg, .effectLeftImg {
  position: absolute;
  top: -50%;
  z-index: -1;
}

.effectRightImg {
  /* display: none; */
  transform: translateX(30%) scale(.9);
}
.effectLeftImg {
  transform: rotate(-120deg) scale(.9) translate(10%, -10%);
}
