.header {
  padding: 150px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../../../assets/img/consulting-services-images/header-bg.png) !important;
  margin-bottom: 44px;
}
